*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration: none;
    font-family:"Microsoft YaHei";
}
html{
    font-size:14px;
    background: #EEEEEE;
}
header{
    width:20rem;
    height:calc(90px /2);
    display:flex;
    align-items: center;
    font-size:18px;
    color:#333333;
    border-bottom:1px solid #e5e5e5;
    position:relative;
    background: white;
    >a:nth-child(1){
        margin-left:10px;
        height:calc(46px /2);
        z-index:10;
        >img{
            width:calc(30px /2);
        } 
    }
    >p:nth-child(2){
        position:absolute;
        width:20rem;
        text-align:center;
        z-index:1;
        font-size:18px;
    }
}
section{
    margin-top:10px;
    background: white;
    padding:0 10px;
    height:80vh;
    overflow: hidden;
    position:relative;
    >ul:nth-child(1){
        height:100vh;
        >li:nth-child(1){
            >a:nth-child(1){
                height:calc(78px /2);
                line-height:calc(78px /2);
                display:flex;
                justify-content: space-between;
                >span:nth-child(1){
                    width:72px;
                    display:block;
                    color:#333333;
                    font-size:12px;
                    overflow:hidden;
                }
                >img:nth-child(2){
                    margin: auto 0;
                }
            }
        }
        >li:nth-child(2),
        >li:nth-child(5){
            height:calc(384px /2);
            display:flex;
            justify-content: space-around;
            align-items: center;
            >span:nth-child(1){
                font-size:15px;
                color:black;
            }
            >div:nth-child(2){
                >div:nth-child(1){
                    >img:nth-child(1){
                        width:calc(420px /2);
                        height:calc(220px /2);
                    }
                }
                >p:nth-child(2){
                    margin-top:25px;
                    color:#b2b2b2;
                    font-size:12px;
                }
            } 
        }
        >li:nth-child(3),
        >li:nth-child(4){
            height:calc(110px /2);
            display:flex;
            justify-content:space-between;
            align-items: center;
            >div:nth-child(1){
                >p:nth-child(1){
                    color:#333333;
                    font-size:14px;
                }
                >p:nth-child(2){
                    margin-top:8px;
                    color:#afafaf;
                    font-size:12px;
                }
            }
            >div:nth-child(2){
                >input{
                    width:calc(110px /2);
                    height:calc(40px /2);
                    background: #ffc64b;
                    text-align:center;
                    line-height:20px;
                    color:white;
                    font-size:12px;
                    outline:none;
                    border:none;
                    margin:0 auto;
                }
                >input:active{
                    opacity: 0.7;
                }
            }
        }
    }
}
footer{
    width:20rem;
    height:calc(130px /2);
    box-shadow: 3px 0px 10px #333333;
    position:fixed;
    bottom:0;
    left:0;
    background: white;
    >input{
        margin:14px 11px;
        width:calc(20rem - 22px);
        height:37px;
        background:#ff4f4b;
        text-align:center;
        line-height:37px;
        color:white;
        outline:none;
        border:none;
    }
    >input:active{
        opacity: 0.7;
    }
}
