*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration: none ! important;
}
html{
    font-size:14px;
    font-family:"Microsoft YaHei";
}
section{
    width:20rem;
    height:100vh;
    background: #f2f2f2;
    >div:nth-child(1){
        position:fixed;
        top:5%;
        right:5%;
        >a{
            font-size:14px;
            color:#010101;
        }
    }
    >div:nth-child(2){
        height:0;
        overflow: hidden;
    }
    >div:nth-child(3){
        text-align:center;
        margin-top:100px;
        >img{
            width: calc(452px /2);
            height: calc(452px /2);
        }
    }
    >div:nth-child(4){
        text-align:center;
        margin-top:calc(174px /2);
        position:relative;
        overflow:hidden;
        >div:nth-child(1){
            background: #f2f2f2;
            position:absolute;
            top:0;
            left:20%;
            right:20%;
            width: calc(400px /2);
            height: calc(80px /2);
            z-index: 100;
        }
        >div:nth-child(2){
            background: #f2f2f2;
            position:absolute;
            bottom:0;
            left:20%;
            right:20%;
            width: calc(400px /2);
            height: calc(80px /2);
            z-index: 101;
        } 
        >img:nth-child(3){
            width:calc(400px /2);
            height:calc(135px /2);
        }
    }
}
