* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Microsoft YaHei"; }

html {
  font-size: 14px; }

body {
  background: white; }

header {
  width: 20rem;
  height: calc(90px /2);
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  background: white; }
  header > a:nth-child(1) {
    display: block;
    margin-left: 10px;
    z-index: 10; }
    header > a:nth-child(1) > img {
      height: calc(28px /2);
      width: calc(15px /2); }
  header > p:nth-child(2) {
    position: absolute;
    width: 20rem;
    text-align: center;
    z-index: 1; }

section {
  background: #F0F0F0; }
  section > ul > li > a {
    background: white;
    height: calc(120px / 2 - 10px);
    padding-top: 10px;
    display: flex; }
    section > ul > li > a > div:nth-child(1) {
      margin-left: 10px; }
    section > ul > li > a > div:nth-child(2) {
      flex: 1;
      margin: 0 10px;
      overflow: hidden;
      border-bottom: 1px solid #E6E6E6; }
      section > ul > li > a > div:nth-child(2) > p:nth-child(1) > span:nth-child(1) {
        color: #333333;
        font-size: 13px;
        float: left; }
      section > ul > li > a > div:nth-child(2) > p:nth-child(1) > span:nth-child(2) {
        color: #999999;
        font-size: 12px;
        float: right; }
      section > ul > li > a > div:nth-child(2) > p:nth-child(2) {
        float: left;
        width: 250px;
        height: 32px;
        overflow: hidden;
        color: #999999;
        font-size: 12px; }
  section > ul > li:nth-child(1) > a > div:nth-child(1) {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #60a2fb;
    display: flex;
    justify-content: center;
    align-items: center; }
    section > ul > li:nth-child(1) > a > div:nth-child(1) > img:nth-child(1) {
      width: calc(46px /2);
      height: calc(48px /2); }
  section > ul > li:nth-child(2) > a > div:nth-child(1) {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #fbbd4d;
    display: flex;
    justify-content: center;
    align-items: center; }
    section > ul > li:nth-child(2) > a > div:nth-child(1) > img:nth-child(1) {
      width: calc(46px /2);
      height: calc(48px /2); }
  section > ul > li:nth-child(3) > a {
    margin-top: 10px; }
  section > ul > li:nth-child(3) > a > div:nth-child(1),
  section > ul > li:nth-child(4) > a > div:nth-child(1),
  section > ul > li:nth-child(5) > a > div:nth-child(1),
  section > ul > li:nth-child(6) > a > div:nth-child(1),
  section > ul > li:nth-child(7) > a > div:nth-child(1) {
    width: calc(80px /2);
    height: calc(80px /2); }
    section > ul > li:nth-child(3) > a > div:nth-child(1) > img,
    section > ul > li:nth-child(4) > a > div:nth-child(1) > img,
    section > ul > li:nth-child(5) > a > div:nth-child(1) > img,
    section > ul > li:nth-child(6) > a > div:nth-child(1) > img,
    section > ul > li:nth-child(7) > a > div:nth-child(1) > img {
      width: calc(80px /2);
      height: calc(80px /2); }

/*# sourceMappingURL=news.css.map */
